## Частные производные и минимизация MSE. Практика
В качестве практического задания найдите наилучшую функцию, приближающую зависимость площади дома от его цены и количества этажей. Известные данные остаются теми же, но теперь вам нужно будет предсказать площадь дома, а не его цену. Цена дома, в свою очередь, теперь будет известна. 
Данные для аппроксимации в таблице ниже. \
Выпишите MSE, найдите его частные производные, затем с помощью sympy найдите точку минимума и предскажите цену дома ценой 666 тысяч рублей и высотой в 4 этажа. Получилось ли у вас значение цены, близкое к тому, которое было нам известно на уроке?

In [32]:
import pandas as pd
data = {'Цена дома': [200, 300, 600, 666],
        'Количество этажей': [2, 1, 3, 4],
        'Площадь дома': [200, 450, 550, '?']}
pd.DataFrame(data=data)

   Цена дома  Количество этажей Площадь дома
0        200                  2          200
1        300                  1          450
2        600                  3          550
3        666                  4            ?

### Import

In [33]:
import sympy as sp

a0, a1, a2 = sp.symbols('a:3')
x1, x2 = sp.symbols('x1:3')

### Solve

In [40]:
mse = 1/3 * ((200*a2 + 2*a1 + a0 - 200)**2 + 
              (300*a2 + 1*a1 + a0 - 450)**2 + 
              (600*a2 + 3*a1 + a0 - 550)**2)
mse

0.333333333333333*(a0 + a1 + 300*a2 - 450)**2 + 0.333333333333333*(a0 + 2*a1 + 200*a2 - 200)**2 + 0.333333333333333*(a0 + 3*a1 + 600*a2 - 550)**2

In [35]:
dmse2 = sp.diff(mse, a2)
dmse2

733.333333333333*a0 + 1666.66666666667*a1 + 326666.666666667*a2 - 336666.666666667

In [36]:
dmse1 = sp.diff(mse, a1)
dmse1

4.0*a0 + 9.33333333333333*a1 + 1666.66666666667*a2 - 1666.66666666667

In [37]:
dmse0 = sp.diff(mse, a0)
dmse0

2.0*a0 + 4.0*a1 + 733.333333333333*a2 - 800.0

In [42]:
sp.solve([dmse0, dmse1, dmse2])

{a0: 220.000000000000, a1: -130.000000000003, a2: 1.20000000000001}

In [43]:
f = 1.2*x2 -130*x1 + 220
f.subs({x2: 666, x1: 4})

499.200000000000